### 10872

In [3]:
def factorial(N):
    if N == 0 or N == 1:
        return 1
    else:
        return N*factorial(N-1)

n = int(input())

print(factorial(n))

 10

3628800

### 10870

In [8]:
def f(n):
    if n ==0:
        return 0
    if (n == 2) or (n==1):
        return 1
    return f(n-1) + f(n-2)


N = int(input())
print(f(N))

 20

6765

In [9]:
memo = {1:1,2:1}  # 메모화

def f(n):
    if n in memo:
        return memo[n] # 조기리턴
    output = f(n-1) + f(n-2)
    memo[n] = output
    return output
    
N = int(input())
print(f(N))

 20

6765

### 11729

In [10]:
def tower_of_hanoi(n):
    if n == 1:
        return 1
    else:
        return (tower_of_hanoi(n-1)*2 + 1)
    
N = int(input())
print(tower_of_hanoi(N))

 3

7

### 2447

In [ ]:
def square(n):
    print('*'*n)
    print("*",' '*(n-2),"*",sep="")
    print('*'*n)

def star(N):
    for i in range(N//3):
        for j in range(N//3):